## Ejercicio

Escribir un programa que pregunte al usuario la fecha de su nacimiento en formato `dd/mm/aaaa` y muestra por pantalla, el día, el mes y el año.

## Solución 1

In [ ]:
fecha = input("Introduce la fecha de tu nacimiento en formato dd/mm/aaaa: ")
print('Día', fecha[:2])
print('Mes', fecha[3:5])
print('Año', fecha[6:])

Día 03
Mes 04
Año 2012

Adaptar el programa anterior para que también funcione cuando el día o el mes se introduzcan con un solo carácter.

In [ ]:
fecha = input("Introduce la fecha de tu nacimiento en formato día/mes/año: ")
dia = fecha[:fecha.find('/')]
mesaño = fecha[fecha.find('/')+1:]
mes = mesaño[:mesaño.find('/')]
año = mesaño[mesaño.find('/')+1:]
print('Día', dia)
print('Mes', mes)
print('Año', año)

Día 3
Mes 4
Año 2012

In [4]:
#Moenda
moneda={'Euro':'€', 'Dollar':'$', 'Yen':'¥'}
moneda_selec=input("Introduce una divisa: ").capitalize()

print(f'El simbolo de {moneda_selec}: {moneda[moneda_selec]}')

Introduce una divisa: yen
El simbolo de Yen: ¥

In [6]:
#Progrma de datos personales
requisitos=["Nombre","Edad","Dirección","Teléfono"]
datos=[]
for i in requisitos:
    datos.append(input(f'Ingrese su {i}: '))
#Diccionarios
datos_per={}
for key, values in zip(requisitos, datos):
    datos_per[key]=values
print(f'{datos_per["Nombre"]} tiene {datos_per["Edad"]} vive en {datos_per["Dirección"]}, con número de Tel.: {datos_per["Teléfono"]}')

Ingrese su Nombre: David
Ingrese su Edad: 28
Ingrese su Dirección: Clara Chuchio
Ingrese su Teléfono: 69079334
David tiene 28 vive en Clara Chuchio, con número de Tel.: 69079334

In [11]:
precios={"Platáno":1.35, "Manzana":0.8, "Pera":0.85,"Naranja":0.70}
fruta=input("Introduce la fruta: ").capitalize()

if fruta in precios:
    print(f'El precio del Kg de {fruta}: {precios[fruta]}')
else:
    print("Error la fruta no esta en la canasata")
    fruta=input("Introduce la fruta: ").capitalize()
    print(f'El precio del Kg de {fruta}: {precios[fruta]}')
print("Gracias por cosultar")

Introduce la fruta: Toronja
Error la fruta no esta en la canasata
Introduce la fruta: naranja
El precio del Kg de Naranja: 0.7
Gracias por cosultar

In [12]:
#Fecha
##Listas
datos=["Dia","Mes","Año"]
fecha=input("Introduce la fecha dd/mm/aaaa: ").split("/")

dicc_fecha={}
for keys, values in zip(datos,fecha):
    dicc_fecha[keys]=values
print(f'Día: {dicc_fecha["Dia"]}, Mes: {dicc_fecha["Mes"]}, Año: {dicc_fecha["Año"]}')

Introduce la fecha dd/mm/aaaa: 16/12/1997
Día: 16, Mes: 12, Año: 1997

In [18]:
#Asignatura y Creditos
Materias= {'Matemáticas': 6, 'Física': 4, 'Química': 5}
print(f'{"Asignatura":<14} {"Creditos":<10}')
for keys, values in Materias.items():
    print(f'{keys:<13} {values:^10}')
print(f'{"Total":<13} {sum(Materias.values()):^10.0f}')

Asignatura     Creditos
Matemáticas       6
Física            4
Química           5
Total             15

In [33]:
#Tabla
columns=["nombre", "edad", "sexo", "teléfono", "correo electrónico"]
dicc_DP={}
for i in columns:
  #La primera vez me creas las col
    if i not in dicc_DP:
        dicc_DP[i]=[input(f'Ingresa  {i.capitalize()}: ')]
    else:
      #Solo añades las los datos en las listas de valores
       dicc_DP[i].append(input(f'Ingresa  {i.capitalize()}: '))
#La tabla
#Titulos
for col in columns:
    print(f'{col.capitalize():<10}', end='')
#Los datos
for i in range(1):
    for col in columns:
        print(f"{dicc_DP[col][i]:<20}", end='')
    print()

Ingresa  Nombre: David
Ingresa  Edad: 23
Ingresa  Sexo: Hombre
Ingresa  Teléfono: 69079334
Ingresa  Correo electrónico: dam@gamail.com
Nombre    Edad      Sexo      Teléfono  Correo electrónico

IndexError: list index out of range

In [26]:
columns=["nombre", "edad", "sexo", "teléfono", "correo electrónico"]
print(columns)

['nombre', 'edad', 'sexo', 'teléfono', 'correo electrónico']